
nav ul li .text-white:hover{
    color: #17a2b8 !important;
}

nav ul li a{
    /* font-weight: 600; */
    /* font-family: 'Luxurious Roman', cursive; */
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

nav ul li{
    margin:  0 10px;
}

.bg-color{
    background:#e9f2f6;
}

.travel{
    font-size: 3.125rem;
    /* line-height: 1.2em; */
    font-weight: 600;
}

.text-travel{
    margin-left: 5rem;
}

.button{
    margin-top: 1.875em;
    padding: 20px 60px;
    border-width: 2px;
    border-color: #ec662f;
    border-radius: 10px;
    background-color: #ec662f;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-family: Quicksand, sans-serif;
    font-size: 1.125rem;
    line-height: 1.11em;
    font-weight: 700;
    cursor: pointer;
}

.button:hover{
    background-color: #fff;
    color: #ec662f !important;
}

.navbar-toggler-icon{
    color: white;
}

.col-box{
    counter-reset: number;
}

.col-box h2::before{
    counter-increment: number;
    content:  counter(number)".";
}


.circle{
    position: absolute;
    content: "";
    width: 30px;
    height:30px;
    background: #122237;
    bottom: -55px;
    border-radius: 50%;
    z-index:2;
}


.color-3da0da{
    background: #3da0da ;
}


.color-ec662f{
    background: #ec662f ;
}


.section-three h2{
    font-size: 3rem;
    font-weight: 800;
}


.section-three p{
    font-size: 1.25rem;
    line-height: 1.1em;
    margin-bottom: 10px;
    font-family: Quicksand, sans-serif;
    color: #000;
    font-weight: 400;
}

.section-three-div{
    padding: 0px 50px;
}

.power-section{
    background: #e9f2f6;
}

.power-section .box-power{
    max-width: 700px;
}

.power-section h2{
    font-weight: 700;
    font-size: 3.5rem;
}

.power-section .posi-abs{
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 300px;
    transform: translate(0px, 190px);
}

.text-justify{
    text-align: justify;
    padding: 50px;
}

.textbox{
    border-radius: 30px;
    background: #e9f2f6;
}
.text-pera{
    margin-top: 30% !important;
}


.text-about-us{
    background: #eca9cc ;
    padding: 50px !important;
    border-radius: 50px !important;
}
.text-about-us .btn{
    border: 1px solid #fff !important;
    background: #e9f2f6;
    margin-left: 55px;
}
.text-about-us .btn:hover{
    background: #eca9cc !important;
}

.img-slide{
    background: #e9f2f6;
}

footer{
    background: #122237;
}

.navbarD-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarD-flex ul li{
    margin: 0 10px !important;
}
.ourhstr-bg{
    background-color: aliceblue;
}